<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.camsflashcards"
        versionCode = "10" 
        version     = "1.4.1" >

    <!-- versionCode is optional and Android only -->

    <name>Fins Flash Cards</name>

    <description>
        An application for Word Flashcards. 
    </description>
    

    <author href="https://build.phonegap.com" email="johnflottmeyer@gmail.com">
        John Flottmeyer
    </author>
    
    <gap:platform name="ios" />
    
    <!-- third party plugins -->
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
    
     <!-- universal preferences -->
    <preference name="phonegap-version" value="cli-6.5.0"/> 
    <preference name="orientation" value="portrait" /> 
    
    <!--<preference name="fullscreen"                 value="true" />-->
    <preference name="fullscreen" value="false" />
    
    <!-- ios preferences --> 
    <preference name="target-device" value="universal" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    <gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
		<false/>
	</gap:config-file>

</widget>
